GMAIL_USER=tu_correo@gmail.com
GMAIL_APP_PASSWORD=pega_aqui_la_contrasena_de_aplicacion
GMAIL_MAILBOXES=INBOX
GMAIL_LOOKBACK_MINUTES=90
APP_SECRET=cambia_este_secreto_largo
ADMIN_USER=admin
ADMIN_PASSWORD=cambia_esta_contrasena
ONLINE_PORT=3000
